##
## .gitignore - inhibit git from tracking files matching the below patterns
##


# for directory tracking, add empty .gitignore to example/.
!.gitignore
!.gitkeep


# file browser metadata/artifacts
.DS_Store
.directory


# alt/aux version control tracking artifacts
.svn


# alt/aux tooling artifacts
.vagrant
Pipfile.lock
*.html
.mypy_cache/*


# unnecesary autosaves/backups
*~
*\#*
auto-save-list/*
~$*
.swp
*.swp


# compiled ao binary
*.pyo
*.pyc
*.elc


# temp files
*\#*
*~
*.log


## EOF
