[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
invoke = "*"
pipenv = "*"
pre-commit = "*"
commitizen = "*"

[dev-packages]

[requires]
python_version = "3.6.8"

[scripts]



## EOF
